BOT_TOKEN=
YOUR_CHAT_ID=
WEB_APP_URL=https://example.com/webapp
MANAGER_URL=https://t.me/your_manager
DB_NAME=showcase_hybrid_leads.db

REVIEWS_URL=
COMMUNITY_URL=
TELEGRAM_CHANNEL_URL=
VK_URL=
YOUTUBE_URL=
