BOT_TOKEN=
YOUR_CHAT_ID=
WEB_APP_URL=https://example.com/webapp
DB_NAME=showcase_hybrid_leads.db

REVIEWS_URL=
COMMUNITY_URL=
TELEGRAM_CHANNEL_URL=
VK_URL=
YOUTUBE_URL=

EUR_RUB_RATE=100
DELIVERY_COST_RUB=350000
OTHER_COSTS_RUB=100000
